//- Главная страница
extends ../../layouts/layout.pug

//- Подключения блоков
include ../../blocks/page-header/page-header
include ../../blocks/page-footer/page-footer
include ../../blocks/logo/logo

block meta
  title Главная страница
  meta(name='description', content='')

block header

block content

block footer