//- Главная страница
extends ../../layouts/layout.pug

//- Подключения блоков
include ../../sections/page-header/page-header.pug
include ../../sections/page-footer/page-footer.pug
include ../../blocks/logo/logo.pug

block meta
  title Главная страница
  meta(name='description', content='')

block header

block content
  svg
    image(xlink:href="firefox.jpg", width="1366", height="768")

block footer